<div class="col-md-3 mb-3 mt-1">
  <div class="card">

    <div class="card-body">
      <div class="h2">
        {{ author.get_full_name }}
      </div>
      <div class="h3 text-muted">
        @{{ author.username }}
      </div>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="h6 text-muted">
          Подписчиков: {{ author.following.count }} <br>
          Подписан: {{ author.follower.count }}
        </div>
      </li>
      <li class="list-group-item">
        <div class="h6 text-muted">
          Записей: {{ author.posts.count }}
        </div>
      </li>
      {% if user != author and user.is_authenticated %}
        <li class="list-group-item">
          {% if following %}
            <a
              class="btn btn-lg btn-light"
              href="{% url 'profile_unfollow' author.username %}" role="button">
              Отписаться
            </a>
          {% else %}
            <a
              class="btn btn-lg btn-primary"
              href="{% url 'profile_follow' author.username %}" role="button">
              Подписаться
            </a>
          {% endif %}
          <!-- Хотел сделать так, что бы отправлялся только POST запрос.
          {% url following|yesno:'profile_unfollow,profile_follow,' author.username as follow_url %}
          <form method="post" action="{{ follow_url }}">
            {% csrf_token %}
            <button type="submit" class="{{ following|yesno:'btn btn-lg btn-light,btn btn-lg btn-primary,' }}">
              {{ following|yesno:"Отписаться,Подписаться," }}
            </button>
          </form>
          -->
        </li>
      {% endif %}

    </ul>

  </div>
</div>
