{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h3">
                <p>Жаров Сергей Сергеевич</p>
                <img
                  src="{% static 'I.jpeg' %}"
                  alt="Об авторе"
                  width="150"
                  height="150"
                >
              </div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                <p>Химик, программист, техник, студент.</p>
                <p>17 декабря 1983 г.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          <h1>Немного о себе.</h1>
          <div class="text-justify">
            <p>
              С самого детства увлекался техникой, в том числе и первыми
              компьютерами.
            </p>
            <p>
              Начал заниматься программированием с бейсика, но первую свою
              программу закончил только спустя 2 - 3 года, уже на turbo pascal.
            </p>
            <p>
              Сильно увлекался химией и программированием. В программировании
              меня более всего интересовала проблема искусственного зрения.
            </p>
            <p>
              Начал постепенно развивать свой собственный проект и не плохо
              научился работать в среде Delphi, попутно изучая PHP, Perl, SQL,
              HTML, javascript. Но было это давно, материал подзабыл но
              постепенно вспоминаю по мере необходимости.
            </p>
            <p>
              В процессе разработал некоторые собственные приёмы по работе с
              данными, но естественно я не одинок. Подобные механизмы работы
              уже давно используются на практике. Но в то время для меня это
              был серьёзный прогресс в навыках программирования.
            </p>
            <p>
              Недавно на работе написал скрипты для контроля процесса
              полимеризации. Использовал Bash, PHP, SQL.
            </p>
            <p>
              Изучал Python самостоятельно и начал понемногу писать нейронные
              сети для себя. Однако понял, что мне сильно не хватает системных
              знаний. К тому же значительный перерыв в программировании
              просадил мои знания в этой области.
            </p>
            <p>
              Я записался на курсы программирования Яндекс Практикума и в
              настоящий момент прохожу курс Python разработчик Plus. Спринт 4 -
              полёт нормальный. Курс, рысканье, тангаж, вращение - в норме...
            </p>
            <p>
              Знания английского языка, поверхностные. Не пропаду в другой
              стране, но свободного общения не получится. Понемногу поддерживаю
              уровень и стараюсь его повышать в свободное время. В основном -
              технический английский, не без словаря (но последний достаточно
              редко). К сожалению пока скорость восприятия низкая.
            </p>
            <p>
              Помимо программирования увлекаюсь наукой и техникой, слежу за
              последними новостями в данных областях.
            </p>
            <p>
              Люблю: сладкое, велосипеды и электронные книги (фантастика,
              фэнтези, Лит-ММОРПГ, альтернативную историю).
            </p>
            <p>
              Семейное положение: жена, двое детей.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}