{% extends "about/about.html" %}
{% load static %}
{% block title %}О применённых технологиях{% endblock %}
{% block about_profile %}
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="h3">
        <h3>Технологии</h3>
        <img
          src="{% static 'python_django.jpeg' %}"
          alt="Об авторе"
          width="150"
          height="150"
        >
      </div>
    </li>
    <li class="list-group-item">
      <div class="h6 text-muted">
        Технологии Django + язык Python.
      </div>
    </li>
  </ul>
{% endblock %}
{% block about_content %}
  <h1>Применяемые при создании технологии.</h1>
  <div class="text-justify">
    <p>
      При создании данного приложения были использованы:
      <ul>
        <li>Python 3.8</li>
        <li>
          Django 2.2
          <ul>
            <li>Шаблоны, HTML, CSS</li>
            <li>SQL, CRUD, Система авторизации.</li>
          </ul>
        </li>
        <li>SQLite 3</li>
      </ul>
    </p>
  </div>
{% endblock %}