{% extends "base.html" %}
{% with card_hader=form.instance.id|yesno:"Редактировать,Добавить," %}
  {% block title %}
    {{ card_hader }} запись
  {% endblock %}
  {% block content %}
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">
            {{ card_hader }} запись
          </div>
          {% with btn_name=edit|yesno:"Сохранить,Добавить" %}
            {% include "includes/form.html" %}
          {% endwith %}
        </div>
      </div>
    </div>
  {% endblock %}
{% endwith %}
